@font-face {
  font-family: "Bebas";
  src: url("assets/BEBAS.TTF");
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    width: auto;
    padding-bottom: 3rem;
    position: relative;
    font-family: "Bebas";
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: transparent;
}


.navbar-default .navbar-brand {
    color: #f0141e;
}

.navbar-header a {
    font-family: "Bebas";
}

.navbar-default .navbar-nav>li>a {
    background-color: transparent;
    font-family: "Bebas";
    color: #f0141e;
}

.navbar-default {
    background-color: transparent;
    border-color: black;
}

.navbar-brand:hover {
    color: white !important;
}

ul.nav a:hover{
    color: white !important;
}

@media only screen and (max-width: 450px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: #f0141e;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: #f0141e;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -51px;
    background-color: #f0141e;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: white;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: white;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

button {
    font-family: "Bebas";
}

#header {
    padding-top: 5%;
    margin: 0;
    background-color: black;
    color: #f0141e;
    text-align: center;
    bottom: 0;
    height: 50%;
}

figure {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 50%;
}

.col-md-1 {
    margin: 1.667%;
    width: 30%;
    height: 50vw;
    text-align: center;
    vertical-align: middle;
    font-family: "Bebas";
    font-size: 120%;
    color: white;
    margin-bottom: 10%;
}

.col-md-1 img:hover {
    transform: scale(1.1);
}

/*.col-md-1:last-child {
    margin-bottom: 10%;
}*/

.col-md-1 img {
    height: 100%;
    width: 100%;
    border-radius: 180px;
    transition: all .2s ease-in-out;
}

.col-md-1 h1 {
    padding-bottom: 5%;
}

.characterName {
    width: 30%;
}

.error {
    font-family: 'Courier New', monospace;
    color: rgb(239, 38, 38);
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.row {
    height:100%;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
}

#images {
    padding-top: 5%;
    min-height: 35rem;
    padding-bottom: 10%;
    width: 100%;
    overflow: hidden;
}

#images img {
    margin-bottom: 10%;
}

.white {
  max-width: 50%;
  margin: 0 auto;
  border-width: 2px;
  border-color: white;
}

#characters {
    top: 0;
    padding: 0;
    width: 100%;
/*    margin-bottom: 60rem;*/
    background-color: black;
    /*padding-bottom: 10%;*/
}

.close {
    color: #f0141e;
}

.modal-body {
    border: none;
}

.modal-content {
    background-color: transparent;
    color: white;
}

.imagepreview {
    width: 60%; 
    height: 100%;
}

.imagetext {
    color: white;
    font-size: 200%;
}

.imagelink {
    color: #f0141e;
}


.imagelink:hover {
    color: white;
}

.bottomtext {
    position: absolute;
    bottom: 0;
    width: 40%;
    right: 0;
    font-size: 200%;
}

.red {
  max-width: 90%;
  margin: 0 auto;
  border-width: 2px;
  border-color: #f0141e;
}

#footer {
    font-size: 100%;
    font-family: "Bebas";
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20rem;
    background-color: black;
/*    background: url(assets/marvel.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    padding-top: 1%;
    text-align: center;
}

/*#footer h1 {
    background-color: #f0141e;
    width: 9.5%;
    margin-top: 2%;
    margin-left: 6%;
    display:inline-block;
    float: left;
}*/

#socialmedia {
/*    float: right;
    margin-right: 6%;*/
    margin-top: 2%;
}

.fa-circle {
    color: #f0141e;
}

.fa-circle:hover {
    color: white;
}

#footertext {
    margin-top: 2%;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #header { padding-top: 10%;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .navbar-default .navbar-toggle .icon-bar { background-color: #f0141e;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .navbar-default .navbar-toggle:hover { background-color: black;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .navbar-custom { background-color: black;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .navbar-default .navbar-form { border-bottom: none; border-top: none;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .navbar-default .navbar-collapse { border-color: #f0141e;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .col-md-1 { width: 100%; height:100%;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .col-md-1:last-child { margin-bottom: 40%; }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .imagelink h1 { font-size: 50%;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .bottomtext { position: relative;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .modal-dialog { padding-top: 30%;}  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #footer { height: 18rem; }  /* show it on small screens */
}